/*andreas03.css*/
BODY
{
	padding: 30px 0;
	color: #222;
	background: #FFF;
}
H1, H2, H3, H4
{
	margin: 0 0 10px;
	font-weight: normal;
}
H1
{
	font-size: 2.8em;
}
H2
{
	margin: 0 0 4px;
	font-size: 1.8em;
}
H3
{
	margin: 20px 0 8px;
	font-size: 1.4em;
}
H4
{
	margin: 10px 0 5px;
	font-size: 1.2em;
}
#thetop
{
	margin: 0;
}
#container
{
	background: transparent;
	color: #222;
}
#content-wrapper
{
	background: url(#transparent);
}
A
{
	text-decoration: none;
	color: #26C;
	text-align: left;
}
A:hover
{
	text-decoration: underline;
}
A IMG
{
	border: 0;
}
P
{
	margin: 0 0 15px;
	line-height: 1.3em;
}
#logo
{
	background: #FFF url(../img/gradient2.png) repeat-x;
	text-align: center;
	color: #555;
	overflow: hidden;
	/*+border-radius:10px;*/
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px 10px 10px 10px;
	padding-bottom: 14px;
}
#logo .logo
{
	margin: 28px 0 15px;
	font-family: Georgia, serif;
	font-weight: 800;
	text-align: center;
	font-size: 36px;
	/*+text-shadow:4px 4px #DDDDDD;*/
	-moz-text-shadow: 4px 4px #DDDDDD;
	-webkit-text-shadow: 4px 4px #DDDDDD;
	-o-text-shadow: 4px 4px #DDDDDD;
	text-shadow: 4px 4px #DDDDDD;
}
#logo A
{
	color: #26A;
	text-decoration: none;
}
#logo A:hover
{
	color: #69E;
}
#intro P
{
	margin-top: 4em;
	margin-left: 0em;
	margin-right: 2em;
	font-size: 0.9em;
	border-left: 1px solid #BBB;
	padding-left: 1em;
}
CODE
{
	font: 90% courier;
	color: #336600;
}
.headerstyle
{
	display: block;
	margin: 30px 0 10px;
	padding: 5px 0 5px 8px;
	color: #222;
	border-bottom: 1px solid #BBB;
	text-decoration: none;
}
#sidebar
{
	background-color: transparent;
	margin-top: 20px;
	font-size: 1em;
	line-height: 1.3em;
	border-left: 1px dotted #eee;
	padding-left: 10px;
	margin-left: 0px;
}
#sidebar P
{
	font-size: 0.9em;
	text-align: center;
}
UL.sidemenu
{
	margin: 0;
	padding: 0;
	list-style: none;
}
UL.sidelinks
{
	margin-left: 20px;
	padding: 2px;
	/*[disabled]list-style:none;*/
}
.sidelink
{
	display: block;
	margin: 5px 0px;
	padding: 5px 0;
	font-size: 1.1em;
	font-weight: bold;
	text-align: center;
	background: #EEE url(../img/gradient1.png) repeat-x;
	color: #26C;
	border-top: 1px solid #DDD;
	border-right: 1px solid #BBB;
	border-bottom: 1px solid #BBB;
	border-left: 1px solid #DDD;
}
.sidelink:hover, .menuheader
{
	background: #FFF url(../img/gradient2.png) repeat-x;
	color: #222;
	border-top: 1px solid #DDD;
	border-right: 1px solid #888;
	border-bottom: 1px solid #888;
	border-left: 1px solid #DDD;
}
#footer
{
	background: transparent;
	margin-top: 15px;
	font-size: 0.9em;
	color: #888;
	text-align: center;
	border-top: 1px dashed #DDD;
}
#tagline
{
	text-align: center;
	font-size: 0.9em;
	color:#555555;
}
.internallink
{
	font-size: 0.9em;
	text-align: center;
}
.block
{
	padding: 5px;
	background: #EEE;
	color: #222;
	border: 2px solid #DDD;
}
.credit
{
	color: #888;
	background-color: inherit;
}
SPAN.guimenu
{
	font-style: italic;
}
SPAN.guisubmenu
{
	font-style: italic;
}
SPAN.guimenuitem
{
	font-style: italic;
}
SPAN._A80103
{
	color: #A80103;
}
SPAN._5C4A95
{
	color: #5C4A95;
}
/*Original open source design by Andreas Viklund - http://andreasviklund.com
Released through OSWD.org*/
