<!doctype html>
<html lang="en" class="no-js">
<head>
  <meta charset="utf-8">
  <!--[if IE]><![endif]-->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>erlide.org - Erlang development tools</title>
    <meta name="description" content="erlide.org, Erlang development tools"/>
    <meta name="keywords" content="erlide,erlang,ide,eclipse,java,plugin,software,development,tools"/>
    <meta name="author"
        content="Vlad Dumitrescu  / Original design: ..."/>
    <link rel="alternate" type="application/rss+xml" title="Erlide Project News"
        href="http://sourceforge.net/export/rss2_projnews.php?group_id=58889&amp;rss_fulltext=1"/>

  <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;">

  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">

  <!-- CSS : implied media="all" -->
  <link rel="stylesheet" href="css/style.css?v=1">
  <link rel="stylesheet" href="css/style_fresh.css">
  <link rel="stylesheet" href="css/960_.css">
  
  <!-- For the less-enabled mobile browsers like Opera Mini -->
  <link rel="stylesheet" media="handheld" href="css/handheld.css?v=1">
 
  <!-- All JavaScript at the bottom, except for Modernizr which enables HTML5 elements & feature detects -->
  <script src="js/modernizr-1.5.min.js"></script>

</head>

<!--[if lt IE 7 ]> <body class="ie6"> <![endif]-->
<!--[if IE 7 ]>    <body class="ie7"> <![endif]-->
<!--[if IE 8 ]>    <body class="ie8"> <![endif]-->
<!--[if IE 9 ]>    <body class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <body id="top"> <!--<![endif]-->

    <div id="thetop" class="container_12 hidden">
        <a id="top"/>
        <p style="margin-bottom: 0">Skip to: <a href="#sitemenu" accesskey="2">Site
                menu</a> | <a href="#maincontent" accesskey="3">Main content</a></p>
    </div>

<div id="header-wrapper">
	<div id="header-wrapper-2">
		<div class="center-wrapper">

			<div id="header">

				<div id="logo">
					<h1 id="site-title" class="logo"><a href="#">erlide.org</a></h1>
					<h2 id="site-slogan">Erlang development tools</h2>
				</div>

				<div id="help-wrapper">
					<div id="help">

						<a href="#">Contact us</a> <span class="text-separator">|</span> <a href="#">FAQ</a> <span class="text-separator">|</span> <a href="#">Sitemap</a>

					</div>
				</div>

			</div>

		</div>
	</div>
</div>

<div id="navigation-wrapper">
	<div id="navigation-wrapper-2">
		<div class="center-wrapper">
	
			<div id="navigation">

				<ul class="tabbed">
					<li class="current_page_item"><a href="index.html">Overview</a></li>
					<li><a href="product_details.html">Features</a></li>
					<li><a href="http://vladdu.blogspot.com">Blog</a></li>
                <li>
                    <a href="#installation">Installation</a>
                </li>
                <li>
                    <a href="erlide.html">Documentation</a>
                </li>
                <li>
                    <a href="#faq">FAQ</a>
                </li>
                 <li>
                    <a href="http://sourceforge.net/projects/erlide">Project
                        site</a>
                </li>
                <li>
                    <a href="http://sourceforge.net/project/showfiles.php?group_id=58889">Downloads</a>
                </li>
                <li>
                    <a href="http://sourceforge.net/export/rss2_project.php?group_id=58889">RSS
                        feeds</a>
                </li>
 				</ul>

				<div class="clearer">&nbsp;</div>

			</div>

		</div>
	</div>
</div>



<div id="content-wrapper">
	<div class="center-wrapper">
 
		<div class="content">

			<div id="featured-wrapper">
				<div id="featured">

					<div class="left" style="width: 400px">
					
						<h2 class="logo">erlide.org</h2>
						<p class="large">
        	        	Tools for <a href="http://www.erlang.org">Erlang</a> developers
            	    	that enable them to focus on the design of their application and 
            	    	make it easy to write quality code.
            			</p>

						<h2  class="logo">erl<span>ide</span> {{page.version}}</h2>
						<p class="large">
							Our flagship product, a development environment based on Eclipse. 
							Supports Erlang R12B and later and Eclipse 3.5 and later.
                		</p>

					</div>

					<div class="right">
						<img src="sample-product.jpg" width="252" height="332" alt="" />	
					</div>

					<div class="clearer">&nbsp;</div>

				</div>
			</div>

			<div id="main">

				<div class="separator-vertical">

					<div class="col2 left">

						<h2 class="left">Featured Products</h2>
						<div class="right more large"><a href="#">All Products &#187;</a></div>
						
						<div class="clearer">&nbsp;</div>

						<div class="content-separator"></div>

						<img src="sample-thumbnail.jpg" width="64" height="64" alt="" class="left bordered" />

						<h3><a href="#">Suspendisse</a></h3>
						
						<p>In nunc et nibh rutrum volutpat. Sed tempus interdum ligula adipiscing blandit. Aliquam tempor, elit ac rhoncus lacinia, mauris metus suscipit sem.</p>

						<div class="clearer">&nbsp;</div>

						<div class="content-separator"></div>
						
						<img src="sample-thumbnail.jpg" width="64" height="64" alt="" class="left bordered" />

						<h3><a href="#">Eu semper nunc</a></h3>
						
						<p>Libero posuere purus. Morbi imperdiet, libero sed lacinia aliquam, metus metus iaculis lectus, eu dictum massa odio at sapien.</p>

						<div class="clearer">&nbsp;</div>

						<div class="content-separator"></div>

						<img src="sample-thumbnail.jpg" width="64" height="64" alt="" class="left bordered" />

						<h3><a href="#">Interdum Ligula</a></h3>
						
						<p>Sed tempus interdum ligula adipiscing blandit. Aliquam tempor, rhoncus lacinia mauris metus suscipit sem.</p>

						<div class="clearer">&nbsp;</div>

					</div>

					<div class="col2 right">

						<h2 class="left">News</h2>
						<div class="right more large"><a href="#">Browse Archives &#187;</a></div>

						<div class="clearer">&nbsp;</div>

						<ul class="nice-list">
							<li><span>2009-06-21 |</span> <a href="#">Praesent vulputate sodales</a></li>
							<li><span>2009-06-21 |</span> <a href="#">Eget pretium ante egestas</a></li>
							<li><span>2009-06-21 |</span> <a href="#">Aliquam ut augue lectus</a></li>
							<li><span>2009-06-21 |</span> <a href="#">Donec tempor porttitor</a></li>
							<li><span>2009-06-21 |</span> <a href="#">Libero posuere purus</a></li>
						</ul>
												
            <h2 class="">Links</h2>
            <ul class="nice-list">
                <li>
                    <a href="http://www.erlang.org">Open source Erlang</a>
                </li>
                <li>
                    <a href="http://www.erlang.se">Commercial Erlang</a>
                </li>
                <li>
                    <a href="http://www.eclipse.org">Eclipse</a>
                </li>
                <li>
                    <a href="http://www.trapexit.org">Trapexit</a>, an Erlang community
                </li>
 			    <li><a href="http://sourceforge.net/projects/erlide">
					<img src="http://sflogo.sourceforge.net/sflogo.php?group_id=58889&amp;type=16" width="150" height="40" alt="Get Erlang IDE @ Eclipse at SourceForge.net. Fast, secure and Free Open Source software downloads" />
				</a>
                <a href="http://www.erlang.org">
                    <img src="img/erlang110.gif" width="110" height="96" alt="Erlang logo"/>
                </a><a href="http://www.eclipse.org">
                    <img src="img/rea_eclipse_pos_logo_fc_sm.jpg" width="128" height="75"
                            alt="Eclipse logo"/>
		                </a></li>
                <li>
			<script type="text/javascript" src="http://www.ohloh.net/p/9612/widgets/project_thin_badge.js"></script>
			</li>
            </ul>
         
									<h2 class="left">Testimonials</h2>
						<div class="right more large"><a href="#">View More &#187;</a></div>

						<div class="clearer">&nbsp;</div>

						<blockquote>
							<p><span>&quot;</span> Praesent vulputate sodales ligula, eget pretium ante egestas ut. Aliquam ut augue lectus, sit amet sollicitudin lacus. <span>&quot;</span></p>
							<cite>Viktor Persson, CEO at Arcsin</cite>
						</blockquote>

						<blockquote>
							<p><span>&quot;</span> Donec tempor porttitor tellus vitae eleifend.<span>&quot;</span></p>
							<cite>Some Author, Web Developer at Company</cite>
						</blockquote>							

					</div>

					<div class="clearer">&nbsp;</div>

				</div>

			</div>

		</div>

	</div>
</div>

<div id="footer-wrapper">

	<div class="center-wrapper">

		<div id="footer">

			<div class="left">
				<a href="index.html">Home</a> <span class="text-separator">|</span> <a href="product_details.html">Product Details</a> <span class="text-separator">|</span> <a href="blog_post.html">Blog Post</a> <span class="text-separator">|</span> <a href="archives.html">Archives</a> <span class="text-separator">|</span> <a href="style_demo.html">Style Demo</a> <span class="text-separator">|</span> <a href="empty_page.html">Empty Page</a>
			</div>

			<div class="right">
				<a href="#">Top ^</a>
			</div>
			
			<div class="clearer">&nbsp;</div>

		</div>

	</div>

</div>

<div id="bottom">

	<div class="center-wrapper">

		<div class="left">
			&copy; 2009 Website.com - Your Website Slogan <span class="text-separator">|</span> <a href="#">Privacy Policy</a> <span class="text-separator">|</span> <a href="#">Terms of Use</a> 
		</div>

		<div class="right">
			<a href="http://templates.arcsin.se/">Website template</a> by <a href="http://arcsin.se/">Arcsin</a> 
		</div>
		
		<div class="clearer">&nbsp;</div>

	</div>

</div>

  <!-- Javascript at the bottom for fast page loading -->

  <!-- Grab Google CDN's jQuery. fall back to local if necessary -->
<!--
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
  <script>!window.jQuery && document.write('<script src="js/jquery-1.4.2.min.js"><\/script>')</script>
-->

  <script src="js/plugins.js?v=1"></script>
  <script src="js/script.js?v=1"></script>

  <!--[if lt IE 7 ]>
    <script src="js/dd_belatedpng.js?v=1"></script>
  <![endif]-->

	  <!-- asynchronous google analytics: mathiasbynens.be/notes/async-analytics-snippet 
       change the UA-XXXXX-X to be your site's ID -->
  <!--script>
   var _gaq = [['_setAccount', 'UA-2373857-1'], ['_trackPageview']];
   (function(d, t) {
    var g = d.createElement(t),
        s = d.getElementsByTagName(t)[0];
    g.async = true;
    g.src = '//www.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g, s);
   })(document, 'script');
  </script>

        <script type="text/javascript">
            var uservoiceJsHost = ("https:" == document.location.protocol)? "https://uservoice.com": "http://cdn.uservoice.com"
            document.write(unescape("%3Cscript src='" + uservoiceJsHost + "/javascripts/widgets/tab.js' type='text/javascript'%3E%3C/script%3E"))</script>
        <script type="text/javascript">
            UserVoice.Tab.show({
                key: 'erlide',
                host: 'erlide.uservoice.com',
                forum: 'general',
                alignment: 'left', // 'left', 'right'
                background_color: '#f00',
                text_color: 'white', // 'white', 'black'
                hover_color: '#06C',
                lang: 'en' // 'en', 'de', 'nl', 'es', 'fr'
            })</script-->
    </body>
</html>
