<!doctype html>
<html lang="en" class="no-js">
<head>
  <meta charset="utf-8">
  <!--[if IE]><![endif]-->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>Erlide - the Erlang IDE. Powered by Eclipse.</title>
    <meta name="description" content="Erlide, the Erlang IDE. Powered by Eclipse."/>
    <meta name="keywords" content="erlang,ide,eclipse,java,plugin"/>
    <meta name="author"
        content="Vlad Dumitrescu  / Original design: Andreas Viklund - http://andreasviklund.com/"/>
    <link rel="alternate" type="application/rss+xml" title="Erlide Project News"
        href="http://sourceforge.net/export/rss2_projnews.php?group_id=58889&amp;rss_fulltext=1"/>

  <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;">

  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">

  <!-- CSS : implied media="all" -->
  <link rel="stylesheet" href="css/style.css?v=1">
  <link rel="stylesheet" type="text/css" href="css/andreas03.css"/>
  <link rel="stylesheet" href="css/960.css">
  
  <!-- For the less-enabled mobile browsers like Opera Mini -->
  <link rel="stylesheet" media="handheld" href="css/handheld.css?v=1">
 
  <!-- All JavaScript at the bottom, except for Modernizr which enables HTML5 elements & feature detects -->
  <script src="js/modernizr-1.5.min.js"></script>

</head>

<!--[if lt IE 7 ]> <body class="ie6"> <![endif]-->
<!--[if IE 7 ]>    <body class="ie7"> <![endif]-->
<!--[if IE 8 ]>    <body class="ie8"> <![endif]-->
<!--[if IE 9 ]>    <body class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <body> <!--<![endif]-->

        <div id="thetop" class="container_12 hidden">
            <a id="top"/>
            <p style="margin-bottom: 0">Skip to: <a href="#sitemenu" accesskey="2">Site
                    menu</a> | <a href="#maincontent" accesskey="3">Main content</a></p>
        </div>

		<div id="container" class="container_12">
            <div id="content-wrapper" class="grid_8">

                <div id="logo" class="grid_3 alpha">
                        <a href="index.html" accesskey="4">
                            <div class="logo"><span class="_A80103">erl</span><span class="_5C4A95">IDE</span></div>
                            <span id="tagline">Turbocharged Erlang development.<br/>Powered by
                        Eclipse.</span>
                        </a>
                </div>

                <div id="intro" class="grid_5 omega">
                    <p ><a href="http://www.erlang.org">Erlang</a> is an
                        open-sourced concurrency-oriented programming language, developed by <a
                            href="http://www.ericsson.com">Ericsson</a>. It has proven itself in
                        many industrial applications as a powerful tool. Now we are building a
                        development environment that will boost programmer efficiency even more.</p>
                </div>

				<div class="clear"></div>

      <div id='content' class="grid_8 alpha omega">
        {{ content }}


      </div>
        <div class='clear'></div>
	  </div>

            <div id="sidebar" class="grid_3">

                <ul class="sidemenu">
                    <li>
                        <a class="sidelink" href="index.html">Overview</a>
                    </li>
                    <li>
                        <a class="sidelink" href="#installation">Installation</a>
                    </li>
                    <li>
                        <a class="sidelink" href="erlide.html">Documentation</a>
                    </li>
                    <li>
                        <a class="sidelink" href="#faq">FAQ</a>
                    </li>
                    <li>
                        <a class="sidelink" href="http://vladdu.blogspot.com"
                            >Blog</a>
                    </li>
                    <li>
                        <a class="sidelink" href="http://sourceforge.net/projects/erlide">Project
                            site</a>
                    </li>
                    <li>
                        <a class="sidelink"
                            href="http://sourceforge.net/project/showfiles.php?group_id=58889"
                            >Downloads</a>
                    </li>
                    <li>
                        <a class="sidelink"
                            href="http://sourceforge.net/export/rss2_project.php?group_id=58889">RSS
                            feeds</a>
                    </li>
                </ul>
                <p>
				    <a href="http://sourceforge.net/projects/erlide">
						<img src="http://sflogo.sourceforge.net/sflogo.php?group_id=58889&amp;type=16" width="150" height="40" alt="Get Erlang IDE @ Eclipse at SourceForge.net. Fast, secure and Free Open Source software downloads" />
					</a>
				  </p>
                <p>
                    <a href="http://www.erlang.org">
                        <img src="img/erlang110.gif" width="110" height="96" alt="Erlang logo"/>
                    </a>
                </p>
                <p>
                    <a href="http://www.eclipse.org">
                        <img src="img/rea_eclipse_pos_logo_fc_sm.jpg" width="128" height="75"
                            alt="Eclipse logo"/>
                    </a>
                </p>
                <p>
                    <a href="http://www.instantiations.com">
                        <img src="img/builtwith-instantiations1.png" width="133" height="43"
                            alt="Built with Instantiations"/>
                    </a>
                </p>
					<p><script type="text/javascript" src="http://www.ohloh.net/p/9612/widgets/project_thin_badge.js"></script></p>
                <a class="hide" href="#top" accesskey="1">Top of page</a>

                <h3 class="headerstyle">Links</h3>
                <ul class="sidelinks">
                    <li>
                        <a href="http://www.erlang.org">Open source Erlang</a>
                    </li>
                    <li>
                        <a href="http://www.erlang.se">Commercial Erlang</a>
                    </li>
                    <li>
                        <a href="http://www.eclipse.org">Eclipse</a>
                    </li>
                    <li>
                        <a href="http://www.trapexit.org">Trapexit</a>, an Erlang community</li>
                </ul>
            </div>
        </div>

		<div class="clear"></div>
        <div id="footer" class="container_12">Last updated: 2010-10-03<br/> &copy; 2005-2010 Vlad Dumitrescu. Design by <a
                href="http://andreasviklund.com" class="credit">Andreas Viklund</a></div>
		<div class="clear"></div>


  <!-- Javascript at the bottom for fast page loading -->

  <!-- Grab Google CDN's jQuery. fall back to local if necessary -->
<!--
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
  <script>!window.jQuery && document.write('<script src="js/jquery-1.4.2.min.js"><\/script>')</script>
-->

  <script src="js/plugins.js?v=1"></script>
  <script src="js/script.js?v=1"></script>

  <!--[if lt IE 7 ]>
    <script src="js/dd_belatedpng.js?v=1"></script>
  <![endif]-->

	  <!-- asynchronous google analytics: mathiasbynens.be/notes/async-analytics-snippet 
       change the UA-XXXXX-X to be your site's ID -->
  <script>
   var _gaq = [['_setAccount', 'UA-2373857-1'], ['_trackPageview']];
   (function(d, t) {
    var g = d.createElement(t),
        s = d.getElementsByTagName(t)[0];
    g.async = true;
    g.src = '//www.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g, s);
   })(document, 'script');
  </script>

        <script type="text/javascript">
            var uservoiceJsHost = ("https:" == document.location.protocol)? "https://uservoice.com": "http://cdn.uservoice.com"
            document.write(unescape("%3Cscript src='" + uservoiceJsHost + "/javascripts/widgets/tab.js' type='text/javascript'%3E%3C/script%3E"))</script>
        <script type="text/javascript">
            UserVoice.Tab.show({
                key: 'erlide',
                host: 'erlide.uservoice.com',
                forum: 'general',
                alignment: 'left', // 'left', 'right'
                background_color: '#f00',
                text_color: 'white', // 'white', 'black'
                hover_color: '#06C',
                lang: 'en' // 'en', 'de', 'nl', 'es', 'fr'
            })</script>
    </body>
</html>
